
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.task-card {
  background-color: #e9f3f3;
  border-radius: 11px;
  width: 85%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center; 
  height: 50px;
  padding: 10px;
}

.task-title {
  font-size: 18px;
  font-weight: bold;
}

.button-edit {
  padding: 3px 10px;
  font-size: 15px;
  background-color: #6200ea;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.button-add-task {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #26f75a;
  color: #fff;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

.container-add-task {
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-type {
  padding: 3px 10px;
  font-size: 13px;
  background-color: #ffb71c;
  color: #fff;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

.grouped-type-edit {
  display: flex;
  gap: 30px;
  padding: 10px;
}


.task-card h3 {
  margin: 0;
  flex-grow: 1;
  text-align: center; /* Centraliza o texto */
}